html {
    background-color: #7C134E;
    background: linear-gradient(to top left, #E3A4C8, #CF73A7, #B24984);
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px #303030;
}

body{
    background-color: #7C134E;
    background-image: linear-gradient(to top left, #E3A4C8, #CF73A7, #B24984);
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* The sidebar menu */
.sidebar {
    margin: o;
    padding: 0;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: linear-gradient(to top left, #8A51A5, #CB5399, #F47B89);
    overflow: auto;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Active/current link */
.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: linear-gradient(to top left, #8A51A5, #CB5399, #F47B89);
    color: white;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: fixed;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: linear-gradient(to top left, #8A51A5, #CB5399, #F47B89);
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #CF73A7;
    position: absolute;
    /* Set the navbar to fixed position */
    bottom: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ffffff;
    color: black;
}

.navbar li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CF73A7;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
}

li .navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.coming-soon {
    color: #000000;
    font-size: 10em;
    font-weight: 900;
    line-height: 120px;
    margin-bottom: 30px;
    text-align: center;
    -webkit-text-stroke: 2px;

}

.title {
    font-size: 5em;
    font-weight: bold;
    line-height: 60px;
    margin-top: 1px;
    margin-bottom: 30px;
    text-align: center;

}

.subtitle {
    font-size: 5em;
    font-weight: bold;
    line-height: 60px;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: center;

}

.links {
    color: #2E1B6A;
    display: inline-block;
    margin-top: 1.5rem;
    text-align: center;
    text-transform: lowercase;
}

/* Main content */
.home {
    margin-top: 10px;
    /* Add a top margin to avoid content overlay */
}
